<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Koaliuty_MagentoPlugin::Koality" title="koality.io Configuration">
                        <resource id="Koaliuty_MagentoPlugin::Koality_status" sortOrder="10" title="Show Status"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
